
.vs/4laba/v15/ipch/AutoPCH/9938033af248dea1/MAIN.ipch
.vs/4laba/v15/Browse.VC.opendb
.vs/4laba/v15/.suo
.vs/4laba/v15/Browse.VC.db
.gitattributes
4laba.sln
4laba/4laba.vcxproj
4laba/4laba.vcxproj.filters
4laba/4laba.vcxproj.user
4laba/Cjatie.bin
4laba/Debug/4laba.log
4laba/Debug/4laba.tlog/4laba.lastbuildstate
4laba/Debug/4laba.tlog/CL.command.1.tlog
4laba/Debug/4laba.tlog/CL.read.1.tlog
4laba/Debug/4laba.tlog/CL.write.1.tlog
4laba/Debug/4laba.tlog/link.command.1.tlog
4laba/Debug/4laba.tlog/link.read.1.tlog
4laba/Debug/4laba.tlog/link.write.1.tlog
*.obj
*.enc
*.idb
*.pdb
*.zip
Debug/4laba.exe
Debug/4laba.ilk
